@import url('https://fonts.googleapis.com/css?family=MedievalSharp&display=swap');

:root {
    --left-col-width: 100px;
}

body {
    font-family:'MedievalSharp';
    background-color:#1f1f1f;
    font-size: 2vw;
    color:aliceblue;
}


p {
    color: #ffd35c;
}

/* Wiz-Rad at top of page */
h1 {
    font-family:'OldeEnglish';
    font-size: 50px;
    color: lightskyblue; 
    text-align: center;
    margin-bottom: 10px;
}

/* Use this for every question */
.question {
    margin-bottom: 50px;
}

/* For p tags inside questions */
.question p {
    color: mediumturquoise;
}

button[type=submit] {
    background-color: darkorange;
}


/* 3-Column layout using the Flexbox container*/
/* https://youtu.be/fYq5PXgSsbE?si=N6nJtT9u_ge_fNvo */
.container {
    display: flex;
}

/* For input tags of the button type inside container,
   and normal buttons */
.container input[type=button], button {
    flex: 1; /* stretch out horizontally to occupy negative space */
    margin-right: 10px;
    margin-bottom: 10px;
    height: 20px;
    border-radius: 6px;
    text-align: center;
}

/* Change all flexbox columns/items */
.column {
    margin: 4px;
    margin-top: 0px;
    min-width: 15%;
    height: 1000px;
    border-radius: 10px;
}

/* Middle column for body */
.left {
    flex-grow: 1;
    padding: 8px;
    /* margin-left: 17vw; */
    background-color: #363a40;

    
}

/* Right column for info */
.right {
    flex: 1;
    min-width: 30%;
    padding: 10px;
    background-color: darkslategray;
}

/* For p tags inside right column */
.right p {
    color: aliceblue;
}


/* Tabs inside of left column */
.tab {
    flex: 1;
    font-size: 2vw;
    background-color: darkslategray;
    height: 15px;
    border: 4px solid #1f1f1f;
    margin: 0px;
    color: aliceblue;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    min-width: 100px;
    max-width: auto;
}

.currentTab {
    flex: 1;
    background-color: rgb(45, 119, 119);
    height: 15px;
    border: 4px solid #1f1f1f;
    margin: 0px;
    color: aliceblue;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    min-width: 100px;
}