@import url('https://fonts.googleapis.com/css?family=MedievalSharp&display=swap');

:root {
    --left-col-width: 100px;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #171717;
    font-size: 1.5vw;
    color:rgb(255, 255, 255);
}

/* Links to other pages */
a {
    color:rgb(255, 255, 255);
    text-decoration:none;
}

/* Miscellaneous text inside left column */
p {
    color: #ffd35c;
}

/* Wiz-Rad at top of page */
h1 {
    font-family:'OldeEnglish';
    font-size: 50px;
    color: rgb(250, 135, 135); 
    text-align: center;
    margin-bottom: 35px;
}

/* Use this for every question */
.question {
    margin-bottom: 50px;
}

/* For p tags inside questions */
.question p {
    color: rgb(255, 130, 130);
}

/* Hides the default bubbles for radio buttons */
input[type="radio"], input[type="checkbox"] {
    visibility: hidden;
    height: 0;
    width: 0;
}

/* Labels for radio buttons */
label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background-color: #454545;
    color: white;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

/* button {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background-color: #454545;
    color: white;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 3px;
} */


/* CSS */
button {
  appearance: button;
  backface-visibility: hidden;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  /* margin: 12px 0 0; */
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: #454545;
    /* color: white; */
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

button:disabled {
  cursor: default;
}

button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

/* Selected checkboxes */
input[type="checkbox"]:checked + label{
    background-color: rgb(119, 45, 45);
}

/* For selected radio buttons */
input[type="radio"]:checked + label{
    background-color: rgb(119, 45, 45);
}

/* For submit buttons only */
button[type=submit] {
    background-color: rgb(230, 159, 118);
}

/* For input tags of the button type inside container,
   and normal buttons */
.container input[type=button], button {
    flex: 1; /* stretch out horizontally to occupy negative space */
    margin-right: 10px;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 6px;
    text-align: center;
}


/* 3-Column layout using the Flexbox container*/
/* https://youtu.be/fYq5PXgSsbE?si=N6nJtT9u_ge_fNvo */
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Change all flexbox columns/items */
.column {
    margin: 4px;
    margin-top: 0px;
    min-width: 15%;
    height: auto;
    border-radius: 10px;
}

/* Left column for questions */
.left {
    flex-grow: 1;
    padding: 8px;
    max-width: 60%;
    /* margin-left: 17vw; */
    background-color: rgb(39, 39, 39);
}

/* Right column for info */
.right {
    flex: 1;
    min-width: 30%;
    padding: 10px;
    background-color: rgb(39, 39, 39);
}

/* For p tags inside right column */
.right p {
    color: rgb(255, 255, 255);
}


/* Tabs inside of left column */
.tab {
    flex: 1;
    justify-content: left;
    font-size: 1.5vw;
    background-color: rgb(79, 47, 47);
    height: 2%;
    border: 4px solid #1f1f1f;
    margin-bottom: 1px;
    width: 80px;
    color: aliceblue;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    min-width: 100px;
    max-width: auto;
}

.tabs {
    max-width: 65%;
}


.current {
    background-color: rgb(119, 45, 45);
}

mark {
    background-color: transparent;
    color: #ba8c10;
  }

.raceInfoDiv {
    color: #ffd35c;
    padding: auto;
    
    font-size: 50%;
}
.raceInfoDiv h1 {
    font-size: 200%;
}

.raceInfoDiv p {
    padding:0%;
}

.webgl {
    align-items:end;
    top:0;
    right: 0;
    position: absolute;
}