@import url('https://fonts.googleapis.com/css?family=MedievalSharp&display=swap');

:root {
    --left-col-width: 100px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #171717;
    font-size: 1.5vw;
    color: rgb(255, 255, 255);
}

/* Links to other pages */
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Miscellaneous text inside left column */
p {
    color: #ffd35c;
}

/* Wiz-Rad at top of page */
h1 {
    font-family: 'OldeEnglish';
    font-size: 50px;
    color: rgb(250, 135, 135);
    text-align: center;
    margin-bottom: 35px;
}

/* Use this for every question */
.question {
    margin-bottom: 50px;
}

/* For p tags inside questions */
.question p {
    color: rgb(255, 130, 130);
}

/* Hides the default bubbles for radio buttons */
input[type="radio"],
input[type="checkbox"] {
    visibility: hidden;
    height: 0;
    width: 0;
}

/* Labels for radio buttons */
label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background-color: #454545;
    color: white;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

/* button {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background-color: #454545;
    color: white;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 3px;
} */


/* CSS */
button {
    appearance: button;
    backface-visibility: hidden;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    /* margin: 12px 0 0; */
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    min-width: 20%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: #454545;
    /* color: white; */
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

/* #beginButton {
    < !-- HTML !--><button class="beginButton-pushable" role="button"><span class="beginButton-shadow"></span><span class="button-82-edge"></span><span class="button-82-front text">Button 82 </span></button>

    CSS
    .button-82-pushable {
        position: relative;
        border: none;
        background: transparent;
        padding: 0;
        cursor: pointer;
        outline-offset: 4px;
        transition: filter 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .button-82-shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: hsl(0deg 0% 0% / 0.25);
        will-change: transform;
        transform: translateY(2px);
        transition:
            transform 600ms cubic-bezier(.3, .7, .4, 1);
    }

    .button-82-edge {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        background: linear-gradient(to left,
                hsl(340deg 100% 16%) 0%,
                hsl(340deg 100% 32%) 8%,
                hsl(340deg 100% 32%) 92%,
                hsl(340deg 100% 16%) 100%);
    }

    .button-82-front {
        display: block;
        position: relative;
        padding: 12px 27px;
        border-radius: 12px;
        font-size: 1.1rem;
        color: white;
        background: hsl(345deg 100% 47%);
        will-change: transform;
        transform: translateY(-4px);
        transition:
            transform 600ms cubic-bezier(.3, .7, .4, 1);
    }

    @media (min-width: 768px) {
        .button-82-front {
            font-size: 1.25rem;
            padding: 12px 42px;
        }
    }

    .button-82-pushable:hover {
        filter: brightness(110%);
        -webkit-filter: brightness(110%);
    }

    .button-82-pushable:hover .button-82-front {
        transform: translateY(-6px);
        transition:
            transform 250ms cubic-bezier(.3, .7, .4, 1.5);
    }

    .button-82-pushable:active .button-82-front {
        transform: translateY(-2px);
        transition: transform 34ms;
    }

    .button-82-pushable:hover .button-82-shadow {
        transform: translateY(4px);
        transition:
            transform 250ms cubic-bezier(.3, .7, .4, 1.5);
    }

    .button-82-pushable:active .button-82-shadow {
        transform: translateY(1px);
        transition: transform 34ms;
    }

    .button-82-pushable:focus:not(:focus-visible) {
        outline: none;
    }
} 
*/

button:disabled {
    cursor: default;
}

button:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

/* Selected checkboxes */
input[type="checkbox"]:checked+label {
    background-color: rgb(119, 45, 45);
}

/* For selected radio buttons */
input[type="radio"]:checked+label {
    background-color: rgb(119, 45, 45);
}

/* For submit buttons only */
button[type=submit] {
    background-color: rgb(230, 159, 118);
}

/* For input tags of the button type inside container,
   and normal buttons */
.container input[type=button],
button {
    flex: 1;
    /* stretch out horizontally to occupy negative space */
    margin-right: 10px;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 6px;
    text-align: center;
}


/* 3-Column layout using the Flexbox container*/
/* https://youtu.be/fYq5PXgSsbE?si=N6nJtT9u_ge_fNvo */
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Change all flexbox columns/items */
.column {
    margin: 4px;
    margin-top: 0px;
    min-width: 15%;
    height: auto;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 50vh;
}

/* Left column for questions */
.left {
    flex-grow: 1;
    padding: 8px;
    max-width: 60%;
    min-height: 70vh;
    /* margin-left: 17vw; */
    background-color: rgb(39, 39, 39);
}

/* Right column for info */
.right {
    flex: 1;
    min-width: 30%;
    padding: 10px;
    min-height: 70vh;
    background-color: rgb(39, 39, 39);
    /* font-size: 100%; */
}

/* .right h2 {
    font-size: 80%;
} */



/* For p tags inside right column */
.right p {
    color: rgb(255, 255, 255);
}


/* Tabs inside of left column */
.tab {
    flex: 1;
    justify-content: left;
    font-size: 1.2vw;
    background-color: rgb(79, 47, 47);
    height: 2%;
    border: 4px solid #1f1f1f;
    margin-bottom: 1px;
    width: 80px;
    color: aliceblue;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    min-width: 100px;
    max-width: auto;
}

.tabs {
    max-width: 65%;
}


.current {
    background-color: rgb(119, 45, 45);
}

mark {
    background-color: transparent;
    color: #ba8c10;
}

.raceInfoDiv {
    color: #ffd35c;
    padding: auto;

    /* font-size: 50%; */
}

.raceInfoDiv h2 {
    font-size: 90%;
}

.raceInfoDiv h1 {
    font-size: 100%;
}

.raceInfoDiv p {
    padding: 0%;
}

.webgl {
    align-items: end;
    top: 0;
    right: 0;
    position: absolute;
}