/* CSS file for the character-builder/wizard 
   Mobile settings at the bottom */

/* Wiz-Rad at the top of the page */
@font-face {
    font-family: 'Nougat-ExtraBlack';
    src: url(../fonts/Nougat-ExtraBlack.ttf);
}

:root {
    --left-col-width: 100px;
}

/* Fonts, font colors, universal font size, and page background */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #171717;
    background-image: url("../images/Stone_Background.png");
    background-repeat: repeat;
    font-size: 2.7vh;
    color: rgb(255, 255, 255);
}

/* Links to other pages */
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

/* Miscellaneous text inside left column */
p {
    color: #8b8b8b;
}

/* Wiz-Rad at top of page */
h1 {
    font-family: 'Nougat-ExtraBlack';
    font-size: 5.5vh;
    font-style: italic;
    color: rgb(250, 135, 135);
    text-align: center;
    margin-bottom: 35px;
    padding-left: 8vw;
}

/* Headers inside left and right columns */
h2 {
    font-family: 'Nougat';
    font-size: 3.5vh;
    font-style: italic;
    color: rgb(189, 75, 75);
    text-align: center;
    margin-bottom: 3vh;
}

/* Tables without an id */
table {
    font-style: italic;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    align-items: baseline;
    border-collapse: collapse;
    width: 60%;
}

/* Use this for every question */
.question {
    margin-bottom: 50px;
}

/* For p tags inside questions */
.question p {
    color: rgb(255, 255, 255);
}

/* Hides the default bubbles for radio buttons */
input[type="radio"],
input[type="checkbox"] {
    visibility: hidden;
    height: 0;
    width: 0;
    
}

/* Selected checkboxes */
input[type="checkbox"]:checked+label {
    background-color: rgb(119, 45, 45);
}

/* For selected radio buttons */
input[type="radio"]:checked+label {
    background-color: rgb(119, 45, 45);
}

/* Text input boxes */
.textinput {
    font-size: 2.7vh;
    padding: 1vh 1vh; 
    margin: 1vh 0vh;
    border: 0.2vh solid #ccc;
    position: relative;
    background: transparent;
    color: white;
}

/* Gets rid of ugly blue selection outline */
.textinput:focus {
    outline: 0;
}

/* For when text input box is selected */
.textinput~.focus-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ededed;
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}

.textinput:focus~.focus-bg {
    transition: 0.5s;
    opacity: 1;
}

::placeholder {
    color: rgb(149, 149, 149);
}

/* Box holding spinning d20 */
canvas {
    /* Weird but necessary for correct canvas placement */
    margin-top:-12vh; 
    margin-bottom:-8vh;
    background: transparent;
}

/* For input tags of the button type inside container,
   and normal buttons */
.container input[type=button],
button {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    text-align: center;
}

/* Button 41 from https://getcssscan.com/css-buttons-examples */
.submitButton {
    background-color: initial;
    background-image: linear-gradient(-180deg, #ab6c6c, #9c6161);
    border-radius: 0.3vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 6vh;
    outline: 0;
    overflow: hidden;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
    width: 2.7vw;
    z-index: 9;
    border: 0;
}

/* Change color when hovering over submit button */
.submitButton:hover {
    background: #822f2f;
}

/* Labels for radio buttons */
label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: white;
    padding: 1vh 1.5vh;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 2.4vh;
}

/* For all buttons */
button {
    appearance: button;
    backface-visibility: hidden;
    border-width: 0;
    height: fit-content;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 2.4vh;
    height: auto;
    padding: 1.25vh 2vh;
    line-height: 1.15;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    min-width: 30%;
    max-width: 50vw;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: #454545;
    color: white;
    margin-bottom: 1.5vh;
    border-radius: 3px;
}

button:disabled {
    cursor: default;
}

button:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

/* 2-Column layout using the Flexbox container*/
/* https://youtu.be/fYq5PXgSsbE?si=N6nJtT9u_ge_fNvo */
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#bio {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.box {
    margin: 40px 0;
    width: fit-content;
}



/* Change all flexbox columns/items */
.column {
    margin: 4px;
    margin-top: 0px;
    min-width: 15%;
    height: auto;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 50vh;
    position: relative;

}

/* Left column for questions */
.left {
    flex: 1;
    flex-grow: 1.6;
    padding: 1vh;
    min-height: 70vh;
    background-color: rgb(39, 39, 39);
    row-gap: 20px;
}

/* Right column for info */
.right {
    flex: 1;
    padding: 1vh;
    min-height: 70vh;
    background-color: rgb(39, 39, 39);
}

/* For p tags inside right column */
.right p {
    color: rgb(255, 255, 255);
}

/* Settings for individual tabs */
.tab {
    flex: 1;
    justify-content: left;

    font-size: 2.8vh;
    background-color: rgb(79, 47, 47);
    height: auto;
    border: 4px solid #1f1f1f;
    margin-bottom: 1px;
    color: aliceblue;
    text-align: center;
    padding: 1vh 0px;
    border-radius: 10px;
    width:auto;
    max-width: 50%;
    word-wrap: break-word;
}

/* Container for holding tabs */
.tabs {
    max-width: 100%;
}

#greyOut {
    color: #5d5a5a;
    /* Set a grey background color */
    pointer-events: none;
    /* Disable pointer events, making the button not clickable */
}


button:hover {
    background-color: rgb(119, 45, 45);
    ;
    /* Set your desired background color here */
    color: white;
}

/* For signifying current selected tab (<div class="tab current">) */
.current {
    background-color: rgb(119, 45, 45);
}

/* Highlighted terms/keywords */
mark {
    background-color: transparent;
    color: #ba8c10;
    transition: color 0.3s;
    border-bottom: 2px dotted #ba8c10;
    text-decoration: none;
    /* Smooth transition over 0.3 seconds */
}

/* Info column explanations for race */
.raceInfoDiv {
    color: #ffd35c;
    padding: auto;
}

.raceInfoDiv h2 {
    font-size: 90%;
}

.raceInfoDiv h1 {
    font-size: 100%;
}

.raceInfoDiv p {
    padding: 0%;
}

/* For the rotating d20 */
.webgl {
    align-items: end;
    top: 0;
    right: 0;
}

.brighten-on-hover {
    color: #333;
    /* Initial text color */
    transition: color 0.3s;
    /* Smooth transition over 0.3 seconds */
}

mark:hover {
    color: rgb(156, 53, 53);
    /* Brightened text color on hover */
}

img {
    width: 60%;
    height: auto;
    object-fit: cover;
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
}

#viewSheetBtn {
    bottom: 0;
    right: 0;
}

/* Div for each row of ability score table */
#standardDiv {
    display: grid;
    align-items: center;
    position: relative;
    display: block;
    flex: auto;
    padding: 20px;
    margin: 20;

}

#continueBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/* Info column explanations for background */
#backgroundInfo h1 {
    font-size: 80%;
    margin: 0;
    padding: 0;
}

#backgroundInfo p {
    font-size: 80%;
    margin: 0;
    padding: 0;
    text-indent: 5%;
}

#backgroundInfo h3 {
    text-align: left;
    margin: 4px;
    font-size: 80%;
}

#innerInfo {
    text-align: left;
    font-size: 80%;
    margin: 2px;
}

#realmOption {
    display: grid;
}

#abilBtn{
    min-width: 5%;
}

/* Ghetto way for aligning rows of standard array. Each row is adjusted 
   by the length of the word before it.*/
#ab1 {padding-left: 4.6vh} /* Strength */
#ab2 {padding-left: 3.6vh} /* Dexterity */
#ab3 {padding-left: 0vh}   /* Constitution */
#ab4 {padding-left: 5.5vh} /* Wisdom */
#ab5 {padding-left: 0.7vh} /* Intelligence */
#ab6 {padding-left: 4vh}   /* Charisma */

#rolling {
    display: none;
}

#personalityBtn.clicked {
    background-color: rgb(119, 45, 45);; /* Change to the desired color */
    color: white; /* Change to the desired text color */
}

/* Show user table of selectable languages */
#langTable {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 70%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: rgb(79, 47, 47);
    border-radius: 10px;
}

/* Rows */
#langTable tr {
    border: 2px solid black;
    height: 2.5vh;
}

/* Header */
#langTable th {
    background-color: #f2f2f2;
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    color: #000000;  /* Adjust the color as needed */
}

/* Part that says 'Language' above table */
#langTable caption {
    color: #ffffff;  /* Adjust the color as needed */
    font-weight: bold;
    font-size: 1.2em;  /* Adjust the font size as needed */
}

#langTable tbody tr:first-child {
    /* Your styles for the first row go here */
    font-weight: bold;
    font-size: 110%;
    background-color: #883737;
}

/* Mobile screen settings only applied on 3:4 screens or screens
   taller than that. */
@media screen and (max-aspect-ratio: 3/4) {
    .right {
        flex: 1;
        min-height: 10vh;
        bottom: 0;
    }
    
    /* Make right column display below main left column */
    .container {
        flex-direction: column;
    }

    h1 {
        padding-left: 0;
    }

    /* Changes language selection table to be more mobile-friendly. */
    #langTable {
        margin: 0.3vh 0;
        min-width: 100%;
        box-shadow: 0 0 2vh rgba(0, 0, 0, 0.15);
        border-radius: 1vh;
        font-size: 1.7vh;
        
    }

    /* Table rows are bigger and easier to tap */
    #langTable tr {
        border: 0.4vh solid black;
        height: 9vh;
        text-align:center;
        padding: 1vh
    }
}